<h2>CHAT</h2>

<h3 id="name"></h3>
<form id="chatForm">
  <input type="text" name="chatMessage" id="chatMessage" />
    <input type="text" name="email" id="email" />

  <input type="submit" value="SEND" />
</form>

<div id="chat"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>